Importo pandas e il .tsv

In [1]:
import pandas as pd

covid = pd.read_csv("C:/Users/Lorenzo/Documents/terzo_anno/Progetto_ingegneria_informatica/metadata_tsv_2022_02_22.tar/metadata.tsv", sep='\t')

C:\Users\Lorenzo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (13,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
covid

,Virus name,Type,Accession ID,Collection date,Location,Additional location information,Sequence length,Host,Patient age,Gender,...,Pangolin version,Variant,AA Substitutions,Submission date,Is reference?,Is complete?,Is high coverage?,Is low coverage?,N-Content,GC-Content
0,hCoV-19/USA/MI-UM-2006S000936/2020,betacoronavirus,EPI_ISL_484764,2020-03-29,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,2022-02-02,NaN,"(NS3_Q57H,NSP2_T85I,NSP12_P323L,N_P365L,Spike_...",2020-07-08,NaN,True,NaN,True,0.079444,0.380107
1,hCoV-19/USA/MI-UM-2006S000940/2020,betacoronavirus,EPI_ISL_484765,2020-03-26,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,2022-02-02,NaN,"(NS3_Q57H,NSP2_T85I,NSP12_P323L,Spike_D614G,NS...",2020-07-08,NaN,True,NaN,NaN,0.016520,0.380198
2,hCoV-19/USA/MI-UM-2006S000941/2020,betacoronavirus,EPI_ISL_484766,2020-03-30,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,2022-02-02,NaN,"(NS3_Q57H,NSP10_D22A,NSP2_T85I,NSP12_P323L,Spi...",2020-07-08,NaN,True,NaN,NaN,0.009838,0.380277
3,hCoV-19/USA/MI-UM-2006S000943/2020,betacoronavirus,EPI_ISL_484767,2020-03-30,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,2022-02-02,NaN,"(NS3_Q57H,NSP2_T85I,NSP12_P323L,Spike_D614G,N_...",2020-07-08,NaN,True,NaN,NaN,0.007320,0.380057
4,hCoV-19/USA/MI-UM-2006S000944/2020,betacoronavirus,EPI_ISL_484768,2020-03-27,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,2022-02-02,NaN,"(NSP1_G7S,NS3_Q57H,NS3_S195Y,NSP2_T85I,NSP12_P...",2020-07-08,NaN,True,True,NaN,0.000974,0.379995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8474957,hCoV-19/USA/MI-UM-2006S000930/2020,betacoronavirus,EPI_ISL_484759,2020-03-28,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,2022-02-02,NaN,"(NS3_Q57H,NSP2_T85I,NS8_I10T,NSP12_P323L,Spike...",2020-07-08,NaN,True,True,NaN,0.003492,0.380080
8474958,hCoV-19/USA/MI-UM-2006S000931/2020,betacoronavirus,EPI_ISL_484760,2020-03-31,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,2022-02-02,NaN,"(NS3_Q57H,NSP2_T85I,NSP12_P323L,Spike_D614G)",2020-07-08,NaN,True,True,NaN,0.003492,0.380080
8474959,hCoV-19/USA/MI-UM-2006S000932/2020,betacoronavirus,EPI_ISL_484761,2020-03-25,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,2022-02-02,NaN,"(NS3_Q57H,NSP2_T85I,NSP12_P323L,Spike_D614G,NS...",2020-07-08,NaN,True,True,NaN,0.003526,0.380059
8474960,hCoV-19/USA/MI-UM-2006S000934/2020,betacoronavirus,EPI_ISL_484762,2020-03-31,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,2022-02-02,NaN,"(NS3_Q57H,NSP2_T85I,NSP12_P323L,Spike_D614G,NS...",2020-07-08,NaN,True,True,NaN,0.000168,0.380126
8474961,hCoV-19/USA/MI-UM-2006S000935/2020,betacoronavirus,EPI_ISL_484763,2020-03-22,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,2022-02-02,NaN,"(NS3_Q57H,NSP2_T85I,NSP12_P323L,Spike_D614G)",2020-07-08,NaN,True,True,NaN,NaN,0.380062

Per gestire il campo Location, divido il campo in 4 nuovi campi

In [4]:
covid["Continent"] = covid["Location"].str.split("/").str.get(0)

In [5]:
covid["Country"] = covid["Location"].str.split("/").str.get(1)

In [6]:
covid["State/Region"] = covid["Location"].str.split("/").str.get(2)

In [7]:
covid["County/District/City/Province"] = covid["Location"].str.split("/").str.get(3)

In [8]:
covid.head()

,Virus name,Type,Accession ID,Collection date,Location,Additional location information,Sequence length,Host,Patient age,Gender,...,Is reference?,Is complete?,Is high coverage?,Is low coverage?,N-Content,GC-Content,Continent,Country,State/Region,County/District/City/Province
0,hCoV-19/USA/MI-UM-2006S000936/2020,betacoronavirus,EPI_ISL_484764,2020-03-29,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,NaN,True,NaN,True,0.079444,0.380107,North America,USA,Michigan,NaN
1,hCoV-19/USA/MI-UM-2006S000940/2020,betacoronavirus,EPI_ISL_484765,2020-03-26,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,NaN,True,NaN,NaN,0.016520,0.380198,North America,USA,Michigan,NaN
2,hCoV-19/USA/MI-UM-2006S000941/2020,betacoronavirus,EPI_ISL_484766,2020-03-30,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,NaN,True,NaN,NaN,0.009838,0.380277,North America,USA,Michigan,NaN
3,hCoV-19/USA/MI-UM-2006S000943/2020,betacoronavirus,EPI_ISL_484767,2020-03-30,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,NaN,True,NaN,NaN,0.007320,0.380057,North America,USA,Michigan,NaN
4,hCoV-19/USA/MI-UM-2006S000944/2020,betacoronavirus,EPI_ISL_484768,2020-03-27,North America / USA / Michigan,NaN,29782,Human,unknown,unknown,...,NaN,True,True,NaN,0.000974,0.379995,North America,USA,Michigan,NaN

Salvo i dati rilevanti per le query in un dataframe nuovo

In [14]:
df = covid[['Pango lineage', 'Submission date', 'Continent', 'Country', 'State/Region', 'County/District/City/Province']]
df

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
0,B.1,2020-07-08,North America,USA,Michigan,NaN
1,B.1.119,2020-07-08,North America,USA,Michigan,NaN
2,B.1,2020-07-08,North America,USA,Michigan,NaN
3,B.1,2020-07-08,North America,USA,Michigan,NaN
4,B.1,2020-07-08,North America,USA,Michigan,NaN
...,...,...,...,...,...,...
8474957,B.1,2020-07-08,North America,USA,Michigan,NaN
8474958,B.1,2020-07-08,North America,USA,Michigan,NaN
8474959,B.1,2020-07-08,North America,USA,Michigan,NaN
8474960,B.1,2020-07-08,North America,USA,Michigan,NaN
8474961,B.1,2020-07-08,North America,USA,Michigan,NaN

Riordino il dataframe per submission date, volendo si potrebbero far ripartire il conteggio degli indici

In [16]:
df = df.sort_values('Submission date', ascending = True)
df

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
2657444,B,2020-01-10,Asia,China,Hubei,Wuhan
8352434,B,2020-01-10,Asia,China,Hubei,Wuhan
8257186,B,2020-01-11,Asia,China,Hubei,Wuhan
7596126,B,2020-01-11,Asia,China,Hubei,Wuhan
7596129,B,2020-01-11,Asia,China,Hubei,Wuhan
...,...,...,...,...,...,...
8389523,NaN,2022-02-21,North America,USA,Tennessee,MEMPHIS
8389525,AY.5,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8389527,AY.4,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8389510,AY.4,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8362444,BA.2,2022-02-21,Europe,Poland,Warminsko-Mazurskie,Ostrodzki

Primo esempio di simulazione di una query su Pango lineage con l'utilizzo della contains e delle regex per evitare problemi con Uppercase

In [61]:
import re

df.loc[df['Pango lineage'].str.contains('B',na=False, regex = True)]

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
2657444,B,2020-01-10,Asia,China,Hubei,Wuhan
8352434,B,2020-01-10,Asia,China,Hubei,Wuhan
8257186,B,2020-01-11,Asia,China,Hubei,Wuhan
7596126,B,2020-01-11,Asia,China,Hubei,Wuhan
7596129,B,2020-01-11,Asia,China,Hubei,Wuhan
...,...,...,...,...,...,...
8389102,B.1.1.7,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8389103,B.1.617.2,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8389129,B.1.1.7,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8389509,B.1.1.7,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8362444,BA.2,2022-02-21,Europe,Poland,Warminsko-Mazurskie,Ostrodzki

Risulta che la contains chiaramente prende in considerazione anche i pango BA perchè estrae tutte le stringe che contengono B in qualsiasi posizione della stringa. Per fare un altro esempio ricerco su B.1

In [29]:
#Provo a calcolare tutte quelle con Pango lineage = B. Se uso questa forma trovo anche BA che non è della famiglia B

#Altrimenti posso specificare meglio
df.loc[df['Pango lineage'].str.contains('B.1',na=False, regex = True)]

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
7596137,B.1.177,2020-01-24,Asia,China,Yunnan,Pu'er
7609417,B.1,2020-01-31,Europe,Germany,Bavaria,Munich
7597757,B.1.474,2020-02-09,Asia,China,Hubei,Wuhan
7597791,B.1.36.8,2020-02-17,Asia,China,Guangdong,NaN
1501060,B.1,2020-02-28,South America,Brazil,Sao Paulo,Sao Paulo
...,...,...,...,...,...,...
8389157,B.1.1.7,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8389102,B.1.1.7,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8389103,B.1.617.2,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8389129,B.1.1.7,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8389509,B.1.1.7,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN

Al fine di fare una ricerca puntuale e precisa su B.1 devo usare ^ prima della 'B' e $ dopo. In questo modo usando la sintassi delle regex sceglie tutti i pango che incominciano per B.1 e che finiscono per B.1. Quindi quelli che valgono esattamente B.1

In [47]:
df.loc[df['Pango lineage'].str.contains('^B.1$',na=False, case=False, regex = True)]

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
7609417,B.1,2020-01-31,Europe,Germany,Bavaria,Munich
1501060,B.1,2020-02-28,South America,Brazil,Sao Paulo,Sao Paulo
7597854,B.1,2020-03-01,Europe,Finland,Helsinki,NaN
7597859,B.1,2020-03-01,Europe,Italy,Lombardy,NaN
7597912,B.1,2020-03-05,Europe,Italy,Lombardy,Milan
...,...,...,...,...,...,...
8372477,B.1,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8380042,B.1,2022-02-21,Africa,Tunisia,Tunis,NaN
8379966,B.1,2022-02-21,Africa,Tunisia,Ariana,NaN
8385701,B.1,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN
8390748,B.1,2022-02-21,Europe,United Kingdom,Northern Ireland,NaN

In questo caso provo a fare una query su Italy. Uso contains per evitare problemi di spazi

In [55]:
df.loc[df['Country'].str.contains('Italy')]

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
8354340,None,2020-01-31,Europe,Italy,Lazio,Rome
2716353,None,2020-01-31,Europe,Italy,Lazio,Rome
8354392,None,2020-02-07,Europe,Italy,Lazio,Rome
7597793,B,2020-02-17,Europe,Italy,Lazio,Rome
7597792,B,2020-02-17,Europe,Italy,Lazio,Rome
...,...,...,...,...,...,...
8383097,NaN,2022-02-21,Europe,Italy,Puglia,NaN
8382855,NaN,2022-02-21,Europe,Italy,Puglia,NaN
8382551,NaN,2022-02-21,Europe,Italy,Puglia,NaN
8382545,NaN,2022-02-21,Europe,Italy,Puglia,NaN
8382987,NaN,2022-02-21,Europe,Italy,Puglia,NaN

Esempio di ricerca per: Pango lineage == B.1 e Country == Italy

In [56]:
df.loc[(df['Pango lineage'].str.contains('^B.1$',na=False, case=False, regex = True)) & (df['Country'].str.contains('Italy'))]

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
7597859,B.1,2020-03-01,Europe,Italy,Lombardy,NaN
7597912,B.1,2020-03-05,Europe,Italy,Lombardy,Milan
7603349,B.1,2020-03-25,Europe,Italy,Friuli Venezia Giulia,NaN
7603347,B.1,2020-03-25,Europe,Italy,Friuli Venezia Giulia,NaN
7603341,B.1,2020-03-25,Europe,Italy,Friuli Venezia Giulia,NaN
...,...,...,...,...,...,...
8322537,B.1,2022-02-07,Europe,Italy,Lombardy,Brescia
8298144,B.1,2022-02-07,Europe,Italy,Lombardy,Brescia
8314143,B.1,2022-02-07,Europe,Italy,Lombardy,Brescia
8402407,B.1,2022-02-08,Europe,Italy,Trentino-Alto Adige,Brunico
8395758,B.1,2022-02-08,Europe,Italy,Trentino-Alto Adige,Bolzano

Informazioni sul dataframe

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8474962 entries, 2657444 to 8362444
Data columns (total 6 columns):
 #   Column                         Dtype
---  ------                         -----
 0   Pango lineage                  object
 1   Submission date                object
 2   Continent                      object
 3   Country                        object
 4   State/Region                   object
 5   County/District/City/Province  object
dtypes: object(6)
memory usage: 710.6+ MB

Esempio di ricerca per: Pango lineage == B.1 e Country == Italy e Submission date <= 2022-02-07

In [59]:
df.loc[(df['Pango lineage'].str.contains('^B.1$',na=False, case=False, regex = True)) 
       & (df['Country'].str.contains('Italy'))
      & (df['Submission date'] <= '2022-02-07')]

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
7597859,B.1,2020-03-01,Europe,Italy,Lombardy,NaN
7597912,B.1,2020-03-05,Europe,Italy,Lombardy,Milan
7603349,B.1,2020-03-25,Europe,Italy,Friuli Venezia Giulia,NaN
7603347,B.1,2020-03-25,Europe,Italy,Friuli Venezia Giulia,NaN
7603341,B.1,2020-03-25,Europe,Italy,Friuli Venezia Giulia,NaN
...,...,...,...,...,...,...
7091758,B.1,2022-01-18,Europe,Italy,Veneto,NaN
2678557,B.1,2022-01-24,Europe,Italy,Trentino-Alto Adige,Brunico
8322537,B.1,2022-02-07,Europe,Italy,Lombardy,Brescia
8298144,B.1,2022-02-07,Europe,Italy,Lombardy,Brescia
8314143,B.1,2022-02-07,Europe,Italy,Lombardy,Brescia

Alcuni problemi di traduzione dei dati. In questo caso se cerco le righe con Province == Milan, trovo sia Europee sia quelle italiane. Quindi posso provare a impostare anche la regione, che quindi dovrebbe dare come risultato 314 righe. Ne ottengo però 311 perchè probabilmente alcune non hanno il campo region ma hanno il campo Province. infatti se non metto il filtro region ma quello continent == Europe allora trovo il numero di righe che mi aspettavo

In [65]:
df.loc[df['County/District/City/Province'].str.contains('Milan', na = False, regex = True)]

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
7597912,B.1,2020-03-05,Europe,Italy,Lombardy,Milan
7603372,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
7603373,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
7603371,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
3260930,None,2020-06-02,Europe,Italy,Lombardy,Milan
...,...,...,...,...,...,...
1535790,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano
2650427,BA.1,2022-02-18,North America,USA,Tennessee,Milan
2633029,BA.1.1,2022-02-18,North America,USA,Tennessee,Milan
8382932,NaN,2022-02-21,North America,USA,Tennessee,Milan
8382909,NaN,2022-02-21,North America,USA,Tennessee,Milan

In [66]:
df.loc[(df['County/District/City/Province'].str.contains('Milan', na = False, regex = True)) 
       & (df['State/Region'].str.contains('Lombardy', na = False, regex = True)) ]

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
7597912,B.1,2020-03-05,Europe,Italy,Lombardy,Milan
7603372,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
7603373,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
7603371,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
3260930,None,2020-06-02,Europe,Italy,Lombardy,Milan
...,...,...,...,...,...,...
1583299,BA.2,2022-02-11,Europe,Italy,Lombardy,Milano
1582727,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano
1586669,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano
1535792,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano
1535790,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano

In [68]:
df.loc[(df['County/District/City/Province'].str.contains('Milan', na = False, regex = True)) 
       & (df['Continent'].str.contains('Europe', na = False, regex = True)) ]

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
7597912,B.1,2020-03-05,Europe,Italy,Lombardy,Milan
7603372,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
7603373,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
7603371,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
3260930,None,2020-06-02,Europe,Italy,Lombardy,Milan
...,...,...,...,...,...,...
1583299,BA.2,2022-02-11,Europe,Italy,Lombardy,Milano
1582727,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano
1586669,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano
1535792,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano
1535790,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano

Con questa ricerca dimostro che il campo Region di 3 righe non è presente sebbene sia presente il campo province. In questo caso valuterei l'esclusione nel caso di una ricerca dettagliata alla province

In [72]:
df.loc[(df['County/District/City/Province'].str.contains('Milan', na = False, regex = True)) 
       & (df['State/Region'].str.contains('Lombard', na = False, regex = True)) ]

,Pango lineage,Submission date,Continent,Country,State/Region,County/District/City/Province
7597912,B.1,2020-03-05,Europe,Italy,Lombardy,Milan
7603372,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
7603373,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
7603371,B.1,2020-03-26,Europe,Italy,Lombardy,Milan
3260930,None,2020-06-02,Europe,Italy,Lombardy,Milan
...,...,...,...,...,...,...
1583299,BA.2,2022-02-11,Europe,Italy,Lombardy,Milano
1582727,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano
1586669,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano
1535792,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano
1535790,BA.1,2022-02-11,Europe,Italy,Lombardy,Milano